body{
    background-image: url('../IMÃGENES/fondo-arena.svg');
}

.banner__img{
    text-align: center;
}

.figure__img{
    width: 100%;
}

.figure__text{
    position: absolute;
    color: #888C0D;
    font-weight: bold;
    font-size: 20px;
    top:25%;
    width: 100%;
    background-color: #f2eddc84;
    padding: 30px;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 3em 14em;
}

.card{
    background-color: white;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}

.card__text{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__text>*{
    margin: 1rem;
}

.contenido{
    display: flex;
    overflow-x: scroll;
}
.elemento{
    flex: 0 0 100%;
    text-align: center;
}


.carousel-btn {
    background-color: #888c0dcd;
    position: absolute;
    top: 135%;
    width: 60px;
    height: 40px;
    font-size: 30px;
    border-radius: 20px;
    border: none;
}

.carousel-btn:hover {
    background-color: #888C0D;
    box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.692);
}

.carousel-btn:disabled {
    background-color: #f2eddc84;
    box-shadow: none;
}

.carousel-prev {
    left: 2%;
}
.carousel-next {
    right: 2%;
}

