body{
    background-image: url('../IMÁGENES/img_fondo_reseña.svg') ;
}

.reseña{
    position: absolute;
    display: block;
    top: 20%;
    left: 35%;
    right: 35%;
    border-radius: 10px;
    text-align: center;
    color:var(--color-titulo);
}

.reseña>*{
    margin-bottom: 20px;
}

.reseña__formulario{
    display: flex;
    flex-direction: column;
}

.reseña__formulario>*{
    margin:3%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #F2EDDC;
}

.formulario__btn-enviar{
    width: 50%;
    background-color: #D9AE5F;
    color: #222604;
    font-size: 20px;
    box-shadow: 0px 2px 5px black;
    margin-left: 25%;
}

.formulario__btn-enviar:hover{
    border-bottom: 2px solid #888C0D;
    box-shadow: inset 0px 2px 0px black; 
}

